@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400&display=swap')

html, body
  font-family 'Titillium Web', "Helvetica Neue", sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

h1, h2, h3, h4, h5
  display inline-block
  font-weight 700
  text-transform uppercase
  &:after
    content: ''
    display block
    padding-top: 20px
    width: 80px
    border-bottom 3px solid #8551b6;
