$link-color: #1AA2C0;
$btn-primary-color: #1AA2C0;
$sidebar-color: $white;
$body-text-color: #222;
$body-heading-color: #222;
$nav-child-link-color: #333;

/* improve font rendering */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* change default side navigation colors */
.nav-list .nav-list-item .nav-list-link:hover, 
.nav-list .nav-list-item .nav-list-link.active {
  background-image: linear-gradient(-90deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5), rgba(245, 245, 245, 0) 100%) !important;
}

/* change label styles, default looks aweful */  
.label {
  padding-top: 0.5em!important;
  padding-right: 0.8em!important;
  padding-bottom: 0.5em!important;
  padding-left: 0.8em!important;
  margin-right: 0.5em!important;
  margin-left: 0.5em!important;
  text-transform: inherit!important;
  vertical-align: middle!important;
  font-size: 14px!important;
  border-color: rgb(104, 100, 100) !important;
  border-style:solid !important;
  border-width: 1px !important;
  border-radius: 10px !important;
}

.label-yellow {
  background-color: transparent;
  background: rgb(255, 250, 240) !important;
}
h1, h2 {
  font-weight: inherit !important;
}