/* navigation */
.nav-list .nav-list-item .nav-list-link {
  color: inherit;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.nav-list .nav-list-item > .nav-list .nav-list-link {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0;
}

.nav-list .nav-list-item > .nav-list {
  border-left: 2px solid #E5E5E5;
  padding-left: 1em;
  margin-left: 2.5em;
}

.nav-list .nav-list-item > .nav-list .nav-list-link {
  line-height: 1.3rem;
}

.nav-list .nav-list-item > .nav-list .nav-list-item > .nav-list {
  border-left: none;
  padding-left: 1em;
  margin-left: 0;
}

.nav-list .nav-list-item > .nav-list .nav-list-item > .nav-list .nav-list-link {
  font-size: 13px;
  line-height: 17px;
}

/* content */
.main-content h1:first-child {
  margin-bottom: 2rem;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  font-weight: bold!important;
}

.label {
  font-size: 14px !important;
}