.content-links-wrapper
  width: 100%
  padding: 3em 0

  align-items: center
  justify-content: space-between

  .content-links-content
    margin-bottom: 2.5em

  .content-links-items
    display: grid
    grid-gap: 8px 8px
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 8px), 1fr))

  &.reverse
    grid-template-columns: 1fr 2fr

    .grid-column.first
      order: 2

    .grid-column.second
      order: 1
