// place your custom styles here

.page {
  transform: none!important;
}

/* disable collapsible sidebar */
.toggle-sidebar-wrapper {
  display: none;
}

.nav-links {
  .nav-item {
    margin: 0 1em;

    a {
      font-weight: bold;
    }
  }
}

.toc-header {
  .print-button {
    display: none;
  }
}

.page-reading-time-info {
  display: none!important;
}

.home-features {
  
}