@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400&display=swap');

html, body {
  font-size: 16px;
  line-height: 25px;
}

.VPContent:not(.is-home) {
  h1, h2, h3, h4, h5 {
      
    display: inline-block;
    border-bottom: none;

    font-family: 'Titillium Web', "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    &:after {
      content: '';
      display: block;
      padding-top: 10px;
      width: 80px;
      border-bottom: 2px solid #8551b6;
    }
  }
}

.theme-default-content:not(.custom) > h1:first-child,
.theme-default-content:not(.custom) > h2:first-child,
.theme-default-content:not(.custom) > h3:first-child,
.theme-default-content:not(.custom) > h4:first-child,
.theme-default-content:not(.custom) > h5:first-child,
.theme-default-content:not(.custom) > h6:first-child,
.theme-default-content:not(.custom) > *:first-child {
  padding-top: 0;
  margin-top: 0;
}